.fullscreen-wrapper {
  width: 100%;
  position: relative;   
}

.bottom-filters {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  z-index: 200;
  font-size: 14px;
  text-shadow: 2px 2px 5px black;
  padding-block: 1.5rem;
  ;
}

.bottom-filters button {
  cursor: pointer;
  color: rgba(224, 224, 224, 1);
  transition: all .22s cubic-bezier(.2, .9, .3, 1);
  padding-inline: 0.8rem;
  padding-block: 0.2rem;
}

.bottom-filters button.active {
  background: rgba(50, 50, 50, 0.3);
  color: white;
  border-color: white;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
}

.fullscreen-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.media {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  will-change: transform;
}

.media-placeholder {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(20px);
  transform: scale(1.1);
  z-index: 0;
}

.media img:not(.media-placeholder),
.media video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.info {
  position: absolute;
  inset: 0;
  /* toma todo el alto como antes */
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 95%;
  max-width: calc(100% - 2rem);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  /* centramos el contenedor interior */
  text-decoration: none;
  color: white;
  z-index: 20;
  text-shadow: 1px 1px 8px black;
  text-transform: capitalize;
}

.infoText{
  display: flex;
  flex-direction: column;

}
.infoText p{
  margin: 0;
  
}

.info h3 {
  margin: 0;
  font-size: 1rem;
  text-emphasis: none;
  font-weight: 400;
  font-size: 14px;
}

.info p {
  margin: 0;
  opacity: .85;
  margin-top: 6px;
  font-size: 0.8rem;
 
}

@media (max-width: 768px) {
  .info {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 95%;
    max-width: calc(100% - 2rem);
  }
  .mobile {
    display: none;
  }
}