---
const REDIRECT_URL = "/es/";
setTimeout(() => {
  document.body.classList.add("fade-out");
  setTimeout(() => {
    window.location.href = REDIRECT_URL;
  }, 1000);
}, 500);
---

<html>
  <head>
    <meta http-equiv="refresh" content="2;url=/es/" />
    <title>Redirigiendo...</title>
    <style>
      body {
        background: black;
        color: white;
        text-align: center;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        transition: opacity 1s ease-in-out;
      }
      .fade-out {
        opacity: 0;
      }
    </style>
  </head>
  <body>
    <h1>alejandrovazquez.com</h1>
  </body>
</html>