---
import { getCollection } from "astro:content";
import Logo3D from "../components/jsx/Logo3D.jsx";
import { useTranslations } from "../i18n/utils";
const works = await getCollection("works");
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as "es" | "en");

import { getImage } from "astro:assets";

import matcapImage from "../images/matcap.png";

const optimizedMatcap = await getImage({
    src: matcapImage,
    width: 256,
    format: "webp",
});

const filteredWorks = works.filter((work: { slug: string }) =>
    work.slug.startsWith(`${currentLang}/`),
);

const images = await Promise.all(
    filteredWorks.map(async (work: { data: { image: any } }) => {
        const optimizedImage = await getImage({
            src: work.data.image,
            width: 200,
            format: "webp",
        });
        return optimizedImage.src;
    }),
);
---

<section class="hero" id="landing">
    <div class="logo">
        <Logo3D
            client:only="react"
            images={images}
            matcapUrl={optimizedMatcap.src}
        />
    </div>
    <div class="textos">
        <p>{translateLabels("intro")}</p>
        <div class="enlaces">
            <a href="https://www.linkedin.com/in/alejandro-vazquez-a9b7162a4/"
                >Linkedin</a
            >
            <a href="https://www.instagram.com/camelcompact99/">Instagram</a>
            <a href="https://www.tiktok.com/@camelcompact99">TikTok</a>
        </div>
    </div>
</section>

<style>
    .hero {
        height: 100vh;
        max-width: 100%;
    }
    .logo {
        display: flex;
        flex-direction: column;
        height: 95%;
        justify-content: flex-end;
        margin: auto;
    }
    .logo-container {
        flex-grow: 1;
        width: 100%;
        position: relative;
    }
    .textos {
        padding-left: 2rem;
        padding-right: 2rem;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: top;
        font-size: 14px;
        max-width: calc(100% - 2rem);
        margin-bottom: 50rem;
        z-index: 5;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .textos p {
        margin: 0;
    }
    .textos a {
        text-decoration: none;
        color: white;
    }
    .textos a:hover {
        color: #00ff0d;
    }
    @media (max-width: 640px) {
        .textos {
            display: none;
        }
    }
</style>
