---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Grid from '../../components/Grid.astro'
import Curriculum from '../../components/Curriculum.astro';
import Contact from '../../components/Contact.astro';
import Landing from '../../components/Landing.astro'
---

<Layout title="alejandro vázquez">
    <Navbar></Navbar>
	<Landing ></Landing>
    <main>
    <Grid></Grid>
	<Curriculum></Curriculum>
    </main>
	<Contact></Contact>
	
</Layout>

<style>
    main {
		margin: auto;
		padding: 1rem;
		width: 95%;
		max-width: calc(100% - 2rem);
		color: black;
		line-height: 1.6;
	}
</style>